<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.green.sga.dao.BoardDAO">

	<!-- 01. insert_글 쓰기 -->
	<insert id="insertBoard" parameterType="BoardVO">
		INSERT into board (
		board_name,
		board_content,
		board_price,
		board_soldout,
		board_sell_category,
		board_category,
		board_auctionOnOff,
		board_profile,
		user_idx
		)
		values (
		#{board_name},
		#{board_content},
		#{board_price},
		#{board_soldout},
		#{board_sell_category},
		#{board_category},
		#{board_auctionOnOff},
		#{board_profile},
		#{user_idx}
		)
	</insert>

	<!-- 02. select_글 1개 가져오기 -->
	<select id="selectByIdx" parameterType="int" resultType="BoardVO">
		select * from board where board_idx= #{board_idx}
	</select>

	<!-- 03. update_글 수정하기 -->
	<update id="updateBoard" parameterType="BoardVO">
		update board
		set
		board_name = #{board_name},
		board_content = #{board_content},
		board_price = #{board_price},
		board_soldout = #{board_soldout},
		board_sell_category = #{board_sell_category},
		board_category = #{board_category},
		board_auctionOnOff = #{board_auctionOnOff},
		board_profile = #{board_profile}
		where
		board_idx = #{board_idx}
	</update>

	<!-- 04. delete_글 삭제하기 -->
	<delete id="deleteBoard" parameterType="int">
		delete from board where board_Idx = #{board_Idx}
	</delete>

	<!-- ========================================================================= -->

	<!-- 50. select_전체 개수얻기 -->
	<select id="selectCount" resultType="int">
		select count(*) from board
	</select>

	<!-- 51. select_한페이지 글 목록 가져오기 -->
	<select id="selectList" parameterType="hashmap" resultType="BoardVO">
		select * from board order by board_idx desc
	</select>
	
	<!-- 52. 마지막에 저장한 글의 idx를 읽어오는 쿼리 -->
	<select id="selectMaxIdx" resultType="int">
		select max(board_idx) from board	
	</select>
	
	<!-- selectDescLimit -->
	<select id="selectDescLimit" parameterType="hashmap" resultType="BoardVO">
		SELECT * FROM board WHERE board_profile is NOT NULL and board_sell_category = 0 ORDER BY board_idx DESC LIMIT 0, 8 
	</select>
	
	<!-- selectSellBoard -->
	<select id="selectSellBoard" resultType="BoardVO">
		select * from board where board_sell_category=0
	</select>
	
	<!-- selectBuyBoard -->
	<select id="selectBuyBoard" resultType="BoardVO">
		select * from board where board_sell_category=1
	</select>
	
	<!-- selectAuctionBoard -->
	<select id="selectAuctionBoard" resultType="BoardVO">
		select * from board where board_auctionOnOff=1
	</select>
	
	<!-- 게시글 검색-->
	<select id="searchBoardList" parameterType="BoardVO" resultType="BoardVO">
		select * from board 
		where
			board_name  like concat('%', #{keyword}, '%')
		order by board_regDate desc 
	</select>
<!-- 	<select id="searchBoardList" parameterType="BoardVO" resultType="BoardVO"> -->
<!-- 		select * from board  -->
<!-- 		where -->
<!-- 		<choose> -->
<!-- 			<when test="type!=null and type.equals('board_all')"> -->
<!-- 			board_name AND board_content like concat('%', #{keyword}, '%') -->
<!-- 			</when> -->
<!-- 			<when test="type!=null and type.equals('board_name')"> -->
<!-- 			board_name like concat('%', #{keyword}, '%') -->
<!-- 			</when> -->
<!-- 			<when test="type!=null and type.equals('board_content')"> -->
<!-- 			board_content like concat('%', #{keyword}, '%') -->
<!-- 			</when> -->
<!-- 		</choose> -->
<!-- 		order by board_regDate desc  -->
<!-- 	</select> -->
	
	<!-- 판매진행중인 판매글 보기 -->
	<select id="selectSoldoutSellBoard" parameterType="BoardVO" resultType="BoardVO">
		select * from board 
		WHERE 
		board_sell_category=0 AND 
		board_soldout=0
	</select>
	
	<!-- 경매진행중인 경매글 보기 -->
	<select id="selectSoldoutAuctionBoard" parameterType="BoardVO" resultType="BoardVO">
		select * from board 
		WHERE 
		board_sell_category=2 AND 
		board_soldout=0
	</select>

	
</mapper>