<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.sga.dao.BoardImageDAO">

	<!-- 01. insert_첨부이미지 저장하기 -->
	<insert id="insertBoardImage" parameterType="BoardImageVO">
		insert into boardimage
		(board_idx,boardImage_saveName,boardImage_oriName)
		values
		(#{board_idx},#{boardImage_saveName},#{boardImage_oriName})
	</insert>
	
	<!-- 02. select_첨부 이미지 1개 가져오기 -->
	<select id="selectByIdx" parameterType="int" resultType="BoardImageVO">
		select * from boardimage where boardImage_idx=#{boardImage_idx}
	</select>

	<!-- 00. update_글 수정하기 -->
	<!-- 이미지는 수정할 일이 없다. 다시 삭제 하고 다시 올리면 된다. -->

	<!-- 03. delete_첨부 이미지 삭제하기 -->
	<delete id="delete" parameterType="int">
		delete from boardimage where boardImage_idx=#{boardImage_idx}
	</delete>
	
	<!-- 04. 해당 board_idx의 첨부 이미지 가져오기 --> 
	<select id="selectByRef" parameterType="int" resultType="BoardImageVO">
		select * from boardimage where board_idx=#{board_idx}
	</select>
	
	<!-- 05. select_한페이지 글 목록 가져오기 -->
	<select id="selectList" parameterType="hashmap" resultType="BoardVO">
		select * from boardimage order by boardImage_idx desc
	</select>
	
	<!-- 52. 마지막에 저장한 글의 idx를 읽어오는 쿼리 -->
	<select id="selectMaxIdx" resultType="int">
		select max(board_idx) from boardimage	
	</select>
	
</mapper>