<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.green.sga.dao.ReplyDAO">

	<!-- 01. insert_글 쓰기 -->
	<insert id="insertReply" parameterType="ReplyVO">
		INSERT into reply (
		reply_content, board_idx, user_idx, user_id
		)
		values (
		#{reply_content},
		#{board_idx},
		#{user_idx},
		#{user_id}
		)
	</insert>

	<!-- 02. select_글 1개 가져오기 -->
	<select id="selectByIdx" parameterType="int" resultType="ReplyVO">
		select * from reply where reply_idx = #{reply_idx}
	</select>

	<!-- 03. update_글 수정하기 -->
	<update id="updateReply" parameterType="ReplyVO">
		update reply
		set
		reply_content = #{reply_content}
		where
		reply_idx = #{reply_idx}
	</update>

	<!-- 04. delete_글 삭제하기 -->
	<delete id="deleteByIdx" parameterType="int">
		delete from reply where reply_idx = #{reply_idx}
	</delete>
	
	<!-- 04. delete_board_idx -->
	<delete id="deleteByBoardIdx" parameterType="int">
		delete from reply where board_idx=#{board_idx}
	</delete>
	
	<!-- 05. 해당 board_idx의 첨부 이미지 가져오기 --> 
	<select id="selectByRef" parameterType="int" resultType="ReplyVO">
		select * from reply where board_idx = #{board_idx}
	</select>
	
	<!-- 05. 해당 board_idx의 첨부 이미지 가져오기 --> 
	<select id="selectByUserRef" parameterType="int" resultType="ReplyVO">
		select * from reply where user_idx = #{user_idx}
	</select>
	
	<!-- ========================================================================= -->

	<!-- 06. select_한페이지 글 목록 가져오기 -->
	<select id="selectList" parameterType="hashmap" resultType="ReplyVO">
		select * from reply order by reply_idx desc
	</select>
	
	<!-- 52. 마지막에 저장한 글의 idx를 읽어오는 쿼리 -->
	<select id="selectMaxIdx" resultType="int">
		select max(reply_idx) from reply	
	</select>
	
</mapper>